<div class="container">
  <h2>Register</h2>
</div>

<div class="container">
  <form id="restaurant-form" action="/restaurants" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Nickname</label>
      <input name="username" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input class="form-control" name="password" type="password" required />
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input class="form-control" name="confirmPassword" type="password" required />
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
    <a href="/login" class="btn btn-secondary">Login</a>
  </form>
</div>
{{> message}}